body {
    background-color: #f0f0f0;
}

#red, #thec {
    color: red;
}

#blue, #ther {
    color: blue;
}

#orange, #theo {
    color: orange;
}

#green, #the0two {
    color: green;
}

#yellow, #thel {
    color: #FFD700;
}

#thes {
    color: blueviolet;
}

.color-title {
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}